  /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0!important;
      border-radius: 0;

    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px;
	padding-top:-20px;
	 margin-bottom: 0px;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 10px;
      background-color: #f2f2f2;
      height: 100%;
	overflow:hidden;
	overflow-y: scroll;
	height: XXXpx;
	
    }
 
.navbar-toggle {
    z-index:3;
}

.navbar-fixed-top {
min-height: 60px;
}

    /* Set black background color, white text and some padding */
    footer {
      background-color: #f2f2f2;
      padding: 10px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
/* accordons*/
button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
	border-color:black;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out;
}
 .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
    .jumbotron {
  margin-bottom: 0px;
  height: -0px;
  color: white;
background-position: 0% 25%;
background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
 
 background:transparent;
background:url('website.jpg');
overflow:hidden;
}
.navbar-nav {
  float: none;
  text-align: center;
}

.navbar-nav li {
  float: none;
  display: inline-block;
}
nav > li > a : padding:10px 0;
ul {
    list-style-position: inside;
}
.ScrollStyle
{
    max-height: 150px;
    overflow-y: scroll;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

#myBtn:hover {
  background-color: #555;
}
 body {
    padding: 1em;
  }
  .spaced > .button {
    margin-bottom: 1em;
  }

    /* entire container, keeps perspective */
.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}
    /* flip the pane when hovered */
    .flip-container:hover .flipper, .flip-container.hover .flipper {
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }
.flip-container, .front, .back {
    width: 100px;
    height: 100px;
	  border-radius: 15px;
		
}
/* flip speed goes here */
.flipper {
    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;
    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}
/* hide back of pane during swap */
.front, .back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #ccc;
}
/* front pane, placed above back */
.front {
    z-index: 2;
	background-color:#00FFFF;
}
/* back, initially hidden pane */
.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
	background-color:#E6E6FA;
}
